<div class="gallery">
  <% user.photos.forEach(function(photo) { %>
  <div class="gallery-item" tabindex="0">
    <img
      src="/feedImages/<%= user.username %>/<%= photo %>"
      class="gallery-image"
      alt="Photo posted by <%= user.username %>"
    />

    <div class="gallery-item-info">
      <ul>
        <li class="gallery-item-likes">
          <span class="visually-hidden">Likes:</span>
          <i class="fas fa-heart" aria-hidden="true"></i>
          <!-- Example like count, replace with actual count -->
          56
        </li>
        <li class="gallery-item-comments">
          <span class="visually-hidden">Comments:</span>
          <i class="fas fa-comment" aria-hidden="true"></i>
          <!-- Example comment count, replace with actual count -->
          2
        </li>
        <!-- Include any other information per photo here -->
      </ul>
    </div>
  </div>
  <% }); %>
</div>
