:root {
  --button-color: #a1d6e2;
  --button-hover-color: #1995ad;
  --font-family-main: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-main);
  margin: 0;
  padding: 0;
  height: 100vh;
  align-items: center;
  color: #262626;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: var(--button-color);
}

a:hover {
  color: var(--button-hover-color);
}

.button,
.btn {
  background: var(--button-color);
  border: none;
  border-radius: 8%;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover,
.btn:focus {
  background-color: var(--button-hover-color);
  outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media (max-width: 600px) {
  .button,
  .btn {
    width: auto;
    padding: 8px 10px;
  }
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
