<!DOCTYPE html>
<html>
  <title>Homepage</title>
  <link rel="stylesheet" type="text/css" href="./homepageHelper.css" />
  <body>
    <div class="main-container">
      <h1>Users</h1>
      <div class="users-container">
        <% users.forEach(user => { %>
        <div class="user-card">
          <img
            <img
            src="/profilePicture/<%= user.username %>"
            alt="<%= user.username %>'s Profile Picture"
            class="profile-img"
          />
          <div class="user-info">
            <a href="/feed?username=<%= user.username %>">
              <input
                type="text"
                class="button username"
                value="<%= user.username %>"
              />
            </a>
            <form action="/upload" enctype="multipart/form-data" method="post">
              <input type="file" name="upload" accept="image/*" /><br />
              <input type="submit" value="upload" />
            </form>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
