:root {
  --button-color: #5cdb95;
  --button-hover-color: #379683;
  --font-family-main: "Open Sans", sans-serif;
  --round-corner: 50%;
}

body {
  font-family: var(--font-family-main);
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100vh;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.main-container {
  max-width: 1000px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 20px auto;
}

.users-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.profile-img {
  border-radius: var(--round-corner);
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: none;
  margin-right: 10px;
  display: block;
}

.user-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.user-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.custom-file-upload:hover {
  background-color: #379683;
}

.file-input {
  display: none;
}

.user-card:hover {
  transform: translateY(-5px);
}

.user-info {
  flex-grow: 1;
  text-align: left;
}

.username {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.button {
  background: var(--button-color);
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background-color: var(--button-hover-color);
}

h1 {
  margin-top: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #379683;
}

a:hover {
  color: #5cdb95;
}

@media (max-width: 600px) {
  .main-container,
  .users-container {
    width: 95%;
    margin: 10px auto;
  }
  h1 {
    font-size: 2rem;
  }
}
