body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main-container {
  width: 80%;
  margin: 20px auto;
}

.users-container {
  width: 80%;
  margin: 0;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: none;
  margin-right: 10px;
  display: block;
}

.user-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.custom-file-upload:hover {
  background-color: #379683;
}

.file-input {
  display: none;
}

.user-card:hover {
  transform: translateY(-5px);
}

.user-info {
  flex-grow: 1;
  text-align: left;
}

.username {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.button {
  background: #5cdb95;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #379683;
}

h1 {
  margin-top: 20px;
  color: #05386b;
  text-align: center;
}

a {
  text-decoration: none;
  color: #379683;
}

a:hover {
  color: #5cdb95;
}

@media (max-width: 600px) {
  .main-container,
  .users-container {
    width: 95%;
    margin: 10px auto;
  }
}
